{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "ignorePatterns": ["/dist/**"],
    "env": {
        "node": true
    },
    "rules": {
        "prefer-destructuring": 0,
        "indent": 0,
        "operator-assignment": 0,
        "no-nested-ternary": 0,
        "object-curly-newline": 0,
        "semi": 0,
        "no-plusplus": 0,
        "linebreak-style": 0,
        "space-before-function-paren": 0,
        "no-console": 0,
        "no-param-reassign": 0,
        "comma-dangle": 0,
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "class-methods-use-this": 0,
        "no-use-before-define": 0,
        "no-underscore-dangle": 0,
        "arrow-body-style": 0,
        "no-shadow": 0,
        "func-names": 0,
        "import/no-dynamic-require": 0,
        "no-restricted-syntax": 0,
        "no-await-in-loop": 0,
        "no-mixed-operators": 0,
        "no-lonely-if": 0,
        "no-unused-vars": 0,
        "quotes": 0,
        "operator-linebreak": 0,
        "prefer-const": 0,
        "no-continue": 0
    }
}
