.yandex-maps_container, .yandex-maps {
  width: 100%;
  height: 100%;
}

.yandex-maps_slots {
  display: none;
}

.yandex-сollection_not-used-dom-element {
  display: none;
}

.yandex-clusterer_not-used-dom-element {
  display: none;
}

.yandex-circle_not-used-dom-element {
  display: none;
}

.yandex-placemark_not-used-dom-element {
  display: none;
}

.yandex-polygon_not-used-dom-element {
  display: none;
}

.yandex-polyline_not-used-dom-element {
  display: none;
}

.yandex-rectangle_not-used-dom-element {
  display: none;
}

.yandex-route_not-used-dom-element {
  display: none;
}